* {
  font-family: "Ubuntu", sans-serif;
}

/* navbar */
@media (min-width: 991px) {
  ul.navabr-nav li {
    display: inline-block;
  }
}

.navbar {
  background-color: black;
  max-width: 100%;
}

a.navbar-brand {
  font-size: 30px;
  font-weight: 400;
}

a.navbar-brand span {
  color: #b9910f;
}

.navbar .container-fluid {
  padding: 10px 100px;
}

ul.navabr-nav {
  margin-bottom: 0;
  list-style: none;
}

ul.navbar-nav li a {
  color: #fff;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  transition: color 2 ease;
}

ul.navbar-nav li a:hover {
  color: #b9910f;
}

.scrolling-active {
  background: #b9910f;
}

/* home section */
.home {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/File_000 copy 2.jpeg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  color: #fff;
}

section.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.home-content h1 {
  font-weight: 700;
  font-size: 5rem;
}

div.home-content h2 {
  font-weight: 800;
  font-size: 4rem;
  color: #b9910f;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}
