* {
  font-family: "Ubuntu", sans-serif;
}

/* navbar */
@media (min-width: 991px) {
  ul li {
    display: inline-block;
  }
}

.navbar {
  background-color: black;
  max-width: 100%;
}

a.navbar-brand {
  font-size: 30px;
  font-weight: 400;
}

.navbar .container-fluid {
  padding: 10px 100px;
}

ul {
  margin-bottom: 0;
}

ul li a {
  color: #fff;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 400;
}

/* home section */
.home {
  height: 100vh;
  min-height: 500px;
  background: url("images/File_000.jpeg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  color: #fff;
}

section.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.home-content h1 {
  font-weight: 700;
  font-size: 4rem;
}

div.home-content h3 {
  font-weight: 700;
  font-size: 2rem;
}
